
<br />
<br />
<h1> <%= flash[:Random_RECIPE] %> </h1> <br /> <br />
<h1> Start Radom Recipies job </h1>
<%= link_to "Start Broad Cast", broad_cast_random_recipies_path %>




<h1>LiveRecipes</h1>
<%=link_to "START LIVE RECIPES", start_live_recipes_path %>
<br />
<br />
<h1> <%= flash[:Live_RECIPE] %> </h1> <br /> <br />
